<%= form_for @post do |f| %>

    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body, class: "control-label" %>
      <%= f.text_area :body, cols: 10, rows: 10, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Selecciona una Categoría"}, {class: "form-control chosen-select"} %>
    </div>

    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :remote_photo_url %>
      <%= f.text_field :remote_photo_url, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
<% end %>