<%= form_for @post do |f| %>
    <div>
      <%= f.label :title %>:
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>:
      <%= f.text_area :body, cols: 10, rows: 10 %>
    </div>
    <div>
      <%= f.label :category_id %>:
      <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Selecciona una Categoría" %>
    </div>
    </br>
    <div>
      <%= f.submit %>
    </div>
<% end %>