<% content_for :header do %>
  <%= @post.title %>
<% end %>

<%= link_to "Volver", posts_path %>

<article>
  <% if @post.category_name.present? %>
    <p class="lead">Categoría: <%= @post.category_name%></p>
  <% end %>
  <%= image_tag @post.photo_url(:thumb) if @post.photo? %>
  <p class="lead"><%= @post.body %></p>
  <p>Creado en <%= time_ago_in_words(@post.created_at)%></p>
  <% if user_signed_in? %>
    <%= link_to "Editar", edit_post_path(@post)%>
    <%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este articulo?"} %>
  <% end %>

  <h3>Comentarios</h3>

  <ul>
    <% @comments.each do |comment| %>
      <li>
        <p><%=comment.message%></p>
        <% if user_signed_in? %>
          <%= link_to "Eliminar Comentario", post_comment_path(@post, comment), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este articulo?"} %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <h2><%= t(".add_comment") %></h2>
    <div class="col-lg-8">
      <%= form_for([@post, @comment]) do |f| %>
        <div class="form-group">
            <%= f.label :message, class: "control-label" %>
            <%= f.text_area :message, class: "form-control", cols: 3, rows: 3, required: true, data: {"parsley-required": true} %>
        </div>
        </p>
        <p>
          <%= f.submit class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>
  <% else %>
    <p> Para agregar un comentario debes <%= link_to "iniciar sesion", new_user_session_path%></p>
  <% end %>





</article>
