<% content_for :header do %>
  <%= @post.title %>
<% end %>

<%= link_to "Volver", posts_path %>

<article>

  <% if @post.category_name.present? %>

    <p class="lead">Categoría: <%= @post.category_name%></p>

  <% end %>

  <%= image_tag @post.photo_url(:thumb) if @post.photo? %>

  <p class="lead"><%= raw @post.body %></p>

  <p>Creado en <%= time_ago_in_words(@post.created_at)%></p>

  <% if user_signed_in? %>
    <%= link_to "Editar", edit_post_path(@post)%>
    <%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este articulo?"} %>
  <% end %>

  <h3>Comentarios</h3>

  <ul id="comments-list">
    <%= render @comments %>
  </ul>

  <% if user_signed_in? %>
    <h2>Add a comment:</h2>

    <%= render "comments/form", comment: @comment, commentable: @post %>

  <% else %>
    <p> Para agregar un comentario debes <%= link_to "iniciar sesion", new_user_session_path%></p>
  <% end %>





</article>
