<!DOCTYPE html>
<html>
<head>
  <title>Blog Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/navbar" %>

  <div class="container">
    <%= render "layouts/alerts_zone" %>

    <% if content_for? :header %>
      <div class="page-header">
        <h1><%= yield :header %></h1>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "parsley.i18n.#{I18n.locale.to_s}"%>
  </div>

</body>
</html>
